body {
  background-color: #0d0e0e;
  margin: 0;
}

#calculator {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input [type="button"],
#result,
.numericButton,
.functionButton {
  border: none;
  border-radius: 2px;
}

input[type="button"] {
  width: 100px;
  height: 100px;
}

#result {
  width: calc(100% - 2rem);
  padding: 0 1rem;
}
